<h2 matDialogTitle>Catalogues produits</h2>
<button mat-button color="warn" (click)="fermer()" class="close">X</button>
<mat-dialog-content>

    <div class="mb-3">
        <label for="" class="form-label">Type produits</label>
        <select class="form-select form-select-lg" [(ngModel)]="typeArticle" name="type" id="">
            <option value="mado" selected>Mado</option>
            <option value="gamo">Gamo</option>
        </select>
    </div>

    @if(typeArticle == "mado"){
    @for (article of listeArticleMado; track $index) {
    <div class="card text-start mb-3">
        <img class="card-img-top" src="holder.js/100px180/" alt="Title" />
        <div class="card-body">
            <h4 class="card-title">{{article.nom}}</h4>
            <p class="card-text">{{article.prix}} Ar HT</p>
        </div>
    </div>
    }
    }@else {
    @for (article of listeArticleGamo; track $index) {
    <div class="card text-start mb-3">
        <img class="card-img-top" src="holder.js/100px180/" alt="Title" />
        <div class="card-body">
            <h4 class="card-title">{{article.nom}}</h4>
            <p class="card-text">{{article.prix}} Ar HT</p>
        </div>
    </div>
    }
    }

</mat-dialog-content>