<h2 matDialogTitle>Catalogues produits</h2>
<button mat-button color="warn" (click)="fermer()" class="close">X</button>

<mat-dialog-content>
    <small style="font-size: 12px;">Nous ne vendons qu'on pack pour les produits MADO sauf pour le Bonbonne 5GAL et
        SAINTO 5L</small>
    <div class="mb-3">
        <label for="" class="form-label">Type produits</label>
        <select class="form-select form-select-lg" [(ngModel)]="typeArticle" name="type" id="">
            <option value="mado" selected>Mado</option>
            <option value="gamo">Gamo</option>
        </select>
    </div>


    @if(typeArticle == "mado"){
    @for (article of listeArticleMado; track $index) {
    <div class="card text-start mb-3">
        <img class="card-img-top" [src]="article.img" style="height: auto;"
            alt="Title" />
        <div class="ribbon-wrapper ribbon-lg">
            <div class="ribbon bg-warning text-lg">
                TVA 20%
            </div>
        </div>

        <div class="card-body">
            <h4 class="card-title" style="font-style: italic; color: rgba(128, 128, 128, 0.904);">{{article.nom}}
                ({{pack(article.nom)[0]}})</h4>
            <div class="bloc">
                <div class="">
                    @if(pack(article.nom)[0]){
                    <table class="table table">
                        <tr>
                            <th>PU d'un bouteille </th>
                            <th>PU d'un pack </th>
                        </tr>
                        <td>
                            <tr>{{article.prix}} Ar HT</tr>
                            <tr>{{(article.prix * 1.2).toFixed(2)}} Ar TTC</tr>
                        </td>
                        <td>
                            @if(pack(article.nom)[1]){
                            <tr>{{(article.prix * 8).toFixed(2)}} Ar HT</tr>
                            <tr>{{(article.prix * 8 * 1.2).toFixed(2)}} Ar TTC</tr>
                            }@else {
                            <tr>{{(article.prix * 6).toFixed(2)}} Ar HT</tr>
                            <tr>{{(article.prix * 6 * 1.2).toFixed(2)}} Ar TTC</tr>
                            }
                        </td>
                    </table>
                    }@else {
                    <p class="card-text">{{article.prix}} Ar HT</p>
                    <p class="card-text">{{(article.prix * 1.2).toFixed(2)}} Ar TTC</p>
                    }

                </div>
            </div>
        </div>
    </div>
    }
    }@else {
    @for (article of listeArticleGamo; track $index) {
    <div class="card text-start mb-3">
        <div class="ribbon-wrapper ribbon-lg">
            <div class="ribbon bg-warning text-lg">
                TVA 20%
            </div>
        </div>
        <img class="card-img-top" src="" alt="Title" />
        <div class="card-body">
            <h4 class="card-title" style="font-style: italic; color: rgba(128, 128, 128, 0.904);">{{article.nom}}</h4>
            <div class="bloc">
                <p class="card-text">{{article.prix}} Ar TTC</p>
            </div>
        </div>
    </div>
    }
    }

</mat-dialog-content>